body {
   
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 32px;
    background: #f5f5f5;
    font-family: "Euclid Circular A";
    animation: rotate 6s infinite alternate linear;
  }
#grDiv{
  
    width: 350px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    border: 2rem solid #fff;
    border-radius: .25rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
    
    
}

  
  @media (width >= 600px) {
    #grDiv {
      margin: 50px;
      width: 460px;
    }
  }
  #headText{
    color: #11274c;
    font-weight: lighter;
  }